In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\srava\anaconda3\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\srava\anaconda3\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\srava\anaconda3\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\srava\anaconda3\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\srava\anaconda3\lib\site-packages (from requests) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests

In [3]:
URL = "https://potterapi-fedeperin.vercel.app/en/books"

res = requests.get(URL)

In [14]:
json_data = res.json()

In [19]:
import pandas as pd 

df = pd.json_normalize(json_data)
df = df[['number', 'title', 'releaseDate', 'pages']]

In [20]:
df

   number                                      title   releaseDate  pages
0       1      Harry Potter and the Sorcerer's Stone  Jun 26, 1997    223
1       2    Harry Potter and the Chamber of Secrets   Jul 2, 1998    251
2       3   Harry Potter and the Prisoner of Azkaban   Jul 8, 1999    317
3       4        Harry Potter and the Goblet of Fire   Jul 8, 2000    636
4       5  Harry Potter and the Order of the Phoenix  Jun 21, 2003    766
5       6     Harry Potter and the Half-Blood Prince  Jul 16, 2005    607
6       7       Harry Potter and the Deathly Hallows  Jul 21, 2007    607
7       8          Harry Potter and the Cursed Child  Jul 30, 2016    336

In [23]:
URL = "https://dattebayo-api.onrender.com/characters"

res = requests.get(URL)

res

In [25]:
json_data = res.json()

In [29]:
import pandas as pd

df = pd.json_normalize(json_data["characters"])

df = df[['id', 'name', 'jutsu', 'natureType']]

In [30]:
df

,id,name,jutsu,natureType
0,1344,Naruto Uzumaki,"[All Directions Shuriken, Baryon Mode, Big Bal...","[Wind Release (Affinity), Lightning Release, ..."
1,1307,Sasuke Uchiha,"[Afterglow, Amaterasu, Amaterasu: Flame Wrappi...","[Lightning Release (Affinity; Anime only), Fi..."
2,1299,Madara Uchiha,"[Animal Path, Asura Path, Black Receiver, Bloc...","[Fire Release, Wind Release, Lightning Release..."
3,376,Kakashi Hatake,"[Area Scanning Technique, Chidori, Demonic Ill...","[Lightning Release (Affinity), Earth Release,..."
4,928,Orochimaru,"[Binding Snake Glare Spell, Casualty Puppet (A...","[Wind Release, Lightning Release, Earth Releas..."
5,1303,Obito Uchiha,"[Animal Path, Asura Path, Black Receiver, Chak...","[Fire Release, Wind Release, Lightning Release..."
6,259,Gaara,"[Air Sand Protective Wall, Armour of Sand, Con...","[Magnet Release (Novel only), Wind Release, E..."
7,1359,Kabuto Yakushi,"[Attack of the Twin Demons, Body Fluid Sheddin...","[Earth Release, Water Release, Wind Release, Y..."
8,515,Jiraiya,"[Barrier: Canopy Method Formation, Barrier: To...","[Fire Release, Wind Release, Earth Release, Wa..."
9,1373,Yamato,"[Area Scanning Technique, Ball of Light Techni...","[Wood Release, Earth Release, Water Release, Y..."
10,344,Might Guy,"[Daytime Tiger, Double Dynamic Entry, Dynamic ...","[Fire Release, Lightning Release]"
11,1037,Konohamaru Sarutobi,[Adamantine Seal: Monkey Yang Suppression (Ani...,"[Fire Release, Wind Release, Lightning Release..."
12,813,Mitsuki,"[Binding Snake Glare Spell, Boruto Stream, Cha...","[Wind Release, Lightning Release]"
13,865,Minato Namikaze,"[Area Scanning Technique, Chakra Transfer Tech...","[Fire Release, Wind Release, Lightning Release..."
14,1339,Boruto Uzumaki,"[Boruto Stream, Compression Rasengan (Anime on...","[Lightning Release (Affinity), Wind Release, ..."
15,1293,Itachi Uchiha,"[Amaterasu, Chakra Suppression Technique (Nove...","[Fire Release, Wind Release, Water Release, Yi..."
16,1063,Hashirama Senju,"[Bringer-of-Darkness Technique (Manga only), C...","[Wood Release, Earth Release, Water Release, F..."
17,1280,Tsunade,"[Body Pathway Derangement, Cell Activation Tec...","[Lightning Release, Earth Release, Water Relea..."
18,739,Rock Lee,"[Crane Wing Formation, Double Dynamic Entry, D...",NaN
19,600,Koji Kashin,"[Big Ball Rasengan, Earth Release: Swamp of th...","[Fire Release, Earth Release, Yin Release]"

In [1]:
#WEB SCRAPING

import requests

URL = "https://www.scrapethissite.com/pages/simple/"

res = requests.get(URL)

In [8]:
if res.status_code == 200:
    print(res.headers)

with open("scraped_data/data1.html", "w", encoding="utf-8") as f:
    f.write(res.text)

{'Date': 'Thu, 26 Feb 2026 05:34:57 GMT', 'Content-Type': 'text/html; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Nel': '{"report_to":"heroku-nel","response_headers":["Via"],"max_age":3600,"success_fraction":0.01,"failure_fraction":0.1}', 'Report-To': '{"group":"heroku-nel","endpoints":[{"url":"https://nel.heroku.com/reports?s=1M5cVgvi66f%2Bm%2FNSJemKHygEVxTPHlcPHKtNFeMgpQ0%3D\\u0026sid=67ff5de4-ad2b-4112-9289-cf96be89efed\\u0026ts=1772084096"}],"max_age":3600}', 'Reporting-Endpoints': 'heroku-nel="https://nel.heroku.com/reports?s=1M5cVgvi66f%2Bm%2FNSJemKHygEVxTPHlcPHKtNFeMgpQ0%3D&sid=67ff5de4-ad2b-4112-9289-cf96be89efed&ts=1772084096"', 'Server': 'cloudflare', 'Via': '1.1 heroku-router', 'cf-cache-status': 'DYNAMIC', 'Content-Encoding': 'zstd', 'CF-RAY': '9d3d13833d8df8d6-SIN', 'alt-svc': 'h3=":443"; ma=86400'}

In [12]:
#BEAUTIFUL SOAP

!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\srava\anaconda3\lib\site-packages (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\srava\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\srava\anaconda3\lib\site-packages (from beautifulsoup4) (4.15.0)

In [4]:
from bs4 import BeautifulSoup

with open("scraped_data/data1.html", "r") as f:
    html_content = f.read()

soup = BeautifulSoup(html_content, "lxml")

In [8]:
soup.find("h3")

<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>

In [15]:
all_h3 = soup.find_all("h3")

all_countries = []

for h3 in all_h3:
    name = h3.get_text(strip=True)

    population = h3.find_next("div").select("span.country-population")[0].get_text(strip=True)

    all_countries.append([name, population])

In [21]:
import pandas as pd

df = pd.DataFrame(all_countries, columns = ["name", "population"])

df

                     name population
0                 Andorra      84000
1    United Arab Emirates    4975593
2             Afghanistan   29121286
3     Antigua and Barbuda      86754
4                Anguilla      13254
..                    ...        ...
245                 Yemen   23495361
246               Mayotte     159042
247          South Africa   49000000
248                Zambia   13460305
249              Zimbabwe   11651858

[250 rows x 2 columns]